.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.tags-container {
    height: 100%;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #277dff;
}

button i {
    font-size: 20px;
    margin-right: 3px;
}